{% extends 'base.html.twig' %}

{% block title %}{{ action }} collection {% endblock %}

{% block body %}
    {% include 'header.html.twig' %}
    <div class="container mt-5">
        <form method="post" enctype="multipart/form-data">
            {{ form_start(form, {'attr': {'class': 'row g-3'}, 'enctype': 'multipart/form-data'}) }}

            {{ form_errors(form) }}

            <div class="mb-3">

                {{ form_row(form.name, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="mb-3">

                {{ form_row(form.description, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="mb-3">
                {{ form_row(form.collectionCategory, {'attr': {'class': 'form-select'}}) }}
            </div>


            <div class="mb-3">
                <label for="custom-attributes-wrapper" class="form-label" style="font-size: 2em">{{ 'customAttributes' }}</label>
                <div id="custom-attributes-wrapper" data-index="{{ form.customItemAttributes|length > 0 ? form.customItemAttributes|last.vars.name + 1 : 0 }}" data-prototype="{{ form_widget(form.customItemAttributes.vars.prototype)|e('html_attr') }}">
                    {% for customAttribute in form.customItemAttributes %}
                        <div class="item mb-2">
                            <div class="form-control">
                                {{ form_row(customAttribute) }}
                                <button id="delete-custom-attribute" type="button" class="btn btn-outline-danger" style="margin-top: 5px">
                                    {{ 'deleteAttribute' }}
                                </button>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <button id="add-custom-attribute" type="button" class="btn btn-outline-success" style="margin-top: 5px">
                    {{ 'add' }}
                </button>
            </div>

            {{ form_rest(form) }}

            <button type="submit" class="btn btn-primary" style="margin: 5px">{{ action|capitalize }}</button>

            {{ form_end(form) }}
        </form>
    </div>
    <script type="application/javascript" src="{{ asset('js/collection-form-helper.js') }}"></script>
{% endblock %}