<header class="p-3 mb-3 border-bottom">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"></svg>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="{{ path('app_main') }}" class="nav-link px-2 link-dark">Main</a></li>
                <li><a href="{{ path('app_collection_show_all') }}" class="nav-link px-2 link-dark">All Collections</a></li>
                {% if app.user %}
                    <li><a href="{{ path('app_collection_show_user', { 'id' : app.user.id }) }}" class="nav-link px-2 link-dark"> Profile </a></li>
                {% endif %}
            </ul>

            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" action="{{ path('find_item') }}" method="get">
                <input type="search" class="form-control" placeholder="Search..." aria-label="Search" name="q">
            </form>





            <div class="text-end">
                {% if app.user %}
                    {{ app.user.userIdentifier }}
                        <a href="{{ path('app_logout') }}"><button type="button" class="btn btn-dark me-2 ms-3">Log Out</button></a>
                {% else %}
                    <a href="{{ path('app_login') }}"><button type="button" class="btn btn-outline-black me-2">Login</button></a>
                    <a href="{{ path('app_register') }}"><button type="button" class="btn btn-warning">Sign up</button></a>
                {% endif %}
            </div>
        </div>
    </div>
</header>