{% extends 'base.html.twig' %}

{% block title %}Welcome{% endblock %}

{% block body %}

    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-6">
                <div class="card">

                    {{ form_start(item_form) }}
                    {{ form_errors(item_form) }}
                    <div class="mb-3">
                        {{ form_label(item_form.name) }}
                        {{ form_widget(item_form.name, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div>

                        {{ form_row(item_form.itemAttributeValue) }}
                    </div>
                    <div class="mb-3">
                        {{ form_label(item_form.itemTags) }}
                        {{ form_widget(item_form.itemTags, {'attr': {'class': 'form-control', 'id': 'tagsInput'}}) }}
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Submit</button>
                </div>
            </div>
        </div>
        {{ form_end(item_form) }}
    </div>
{% endblock %}