{% extends 'base.html.twig' %}

{% block title %}users{% endblock %}


{% block body %}
    {% include 'header.html.twig' %}

    <h4>Name: {{ name }}</h4>
    <h4>Attributes</h4>
    <div>
    <table id="myTable" class="table">
            <tbody>
            {% for item in attributes %}
                <tr>
                    <td>{{ item.attribute }}</td>
                    <td>{{ item.value }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


    <div class="comments">
        <h2>Comments</h2>
        {% if comments %}
            <ul>
                {% for comment in comments %}
                    <div>
                        <small> {{ comment.username.email }}</small>
                        <span> {{ comment.content }}</span>
                    </div>
                {% endfor %}
            </ul>
        {% else %}
            <p>No comments yet.</p>
        {% endif %}

        <h3>Add a Comment</h3>
            {{ form_start(comment_form) }}
            {{ form_widget(comment_form.content) }}
        <button type="submit">Submit</button>
        {{ form_end(comment_form) }}
    </div>
{% endblock %}
