{% extends 'base.html.twig' %}

{% block title %}users{% endblock %}


{% block body %}
    {% include 'header.html.twig' %}

    <div class="container">
        <h4>Name: {{ items.name }}</h4>
        <h4>Attributes</h4>
        <div>
        <table id="myTable" class="table">
                <tbody>
                {% for item in items.itemAttributeValue %}
                    <tr>
                        <td>{{ item.name }}</td>
                        <td>{{ item.customItemAttribute.name }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>


        <div class="comments container">
            <h4>Comments</h4>
            <ul id="comment-list">
                {% if items.comments %}
                    {% for comment in items.comments %}
                        <div data-comment-id="{{ comment.id }}">
                            <small> {{ comment.username.email }} - </small>
                            <span> {{ comment.content }}</span>
                        </div>
                    {% endfor %}
                {% else %}
                    <li>No comments yet.</li>
                {% endif %}
            </ul>

            <h4>Add a Comment</h4>
            {% if(app.user) %}
                {{ form_start(comment_form) }}
                    {{ form_widget(comment_form) }}
                <button type="submit" class="btn btn-primary">Comment</button>
                {{ form_end(comment_form) }}
            {% else %}
                <h4>Please sign in to comment</h4>
            {% endif %}
        </div>
    </div>

{% endblock %}
{% block javascripts %}
<script>
    const commentForm = document.getElementById('comment-form');
    const commentList = document.getElementById('comment-list');
    const submitButton = document.getElementById('submit-comment');

    submitButton.addEventListener('click', function(event) {
        event.preventDefault();

        const content = document.getElementById('content').value;

        fetch({{ path('app_item_comments', { 'id': items.id}) }}, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-Requested-With': 'XMLHttpRequest'
            },
            body: JSON.stringify({ content: content })
        })
            .then(response => {
                if (response.ok) {
                    return response.json();
                } else {
                    throw new Error('Something went wrong!');
                }
            })
            .then(data => {
                const newComment = document.createElement('div');
                newComment.dataset.commentId = data.id;
                newComment.innerHTML = `
                    <small> ${data.username.email}</small>
                    <span> ${data.content}</span>
            `;

                commentList.appendChild(newComment);

                document.getElementById('content').value = '';
            })
            .catch(error => {
                console.error('Error:', error);
            });
    });
</script>
{% endblock %}
