{% extends 'base.html.twig' %}

{% block title %}users{% endblock %}

{% block body %}
    <div class="Container">
        <div class="nav m-3 justify-content-end">
            <div class="nav-item col-auto">
                  <span>
                      {{ app.user.userIdentifier }}
                  </span>
            </div>
        </div>
        <div class="card-header nav-item justify-content-end">
            <h5 class="card-title text-center">{{ collection }} Collection Items</h5>
        </div>

        <div>
            <div class="row m-5">
                <div class="col">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>id</th>
                            <th>name</th>
                            <th>author</th>
                            {% for attribute in items[0].attributes %}
                                <th>{{ attribute }}</th>
                            {% endfor %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in items %}
                            <tr>
                                <td>{{ item.id }}</td>
                                <td>{{ item.name }}</td>
                                <td>{{ item.author }}</td>
                                {% for value in item.values %}
                                    <td>{{ value }}</td>
                                {% endfor %}
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="{{ 3 + items[0].attributes|length }}">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>


                </div>
            </div>
        </div>
    </div>
{% endblock %}
