{% extends 'base.html.twig' %}

{% block title %}users{% endblock %}

{% block body %}
    {% include 'header.html.twig' %}
        <div>
            <div class="row m-5">
                <div class="col">
                    <table class="table table-bordered">
                        <thead>
                            <tr class="d-flex">
                                <th>{{ knp_pagination_sortable(pagination, 'Id', 'id') }}</th>
                                <th{% if pagination.isSorted('name') %} class="sorted"{% endif %}>
                                    {{ knp_pagination_sortable(pagination, 'Name', 'name') }}
                                </th>
    {#                            <th{% if pagination.isSorted('') %} class="sorted"{% endif %}>#}
    {#                                {{ knp_pagination_sortable(pagination, 'Author', 'user.email') }}#}
    {#                            <th{% if pagination.isSorted('collectionCategory.name') %} class="sorted"{% endif %}>#}
    {#                                {{ knp_pagination_sortable(pagination, 'Category', 'collectionCategory.name') }}#}

                            </tr>
                        </thead>
                        <tbody>
                        {% for item in pagination %}
                            <tr class="d-flex">
                                    <td>{{ item.id }}</td>
                                    <td>{{ item.name }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    <div class="navigation">
                        {{ knp_pagination_render(pagination) }}
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
